@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: rgb(254, 215, 170);
  }

  body {
    @apply bg-gradient-to-br from-orange-50 via-white to-orange-100 text-slate-900;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
