@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: rgb(229, 231, 235);
  }
  
  body {
    @apply bg-white text-gray-900;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
